@charset "UTF-8";
*{margin: 0;padding: 0;}
a{text-decoration: none;}
ul{list-style: none;}
small{/*color: #878787;*/color: #111111;}
span{color: #4FC3EA;}
.app{border: 1px solid #DBDBDB; width: 350px; height: 100%; margin: 50px auto;/*background: url(../images/bg.jpg);*/background-size: 150% 100%;}
.app .header{margin: 5px;}
.app .header ul{color: #4FC3EA;font-size: 18px;list-style: none;display: flex;justify-content: space-between;}
.app .header ul li:nth-child(2){position: relative;left: 24px;}
.app .header ul li span{margin-left: 15px;margin-top: 2px;font-size: 22px;}
.app .header ul li .Head-portrait{width: 25px;height: 25px; background-image: url(../images/01.jpg); background-repeat: no-repeat;background-size: cover;border-radius: 15px;overflow: hidden;}
.app .input{text-align: center;}
.app .input input{text-align: center;width: 90%;height: 33px;border: none;border-radius: 15px;background-color: #F5F6FA;outline: none;margin-top: 8px;}
.app .footer ul{display: flex;justify-content: space-around;}
.app .footer ul li a{display: flex;flex-direction: column;}
.app .footer ul li span{font-size: 22px;}
.app .subject .list{line-height:30px;}
.app .subject .list ul>li>a{border-bottom: 1px solid #EFF0F2;padding: 5px;display: flex;}
.app .subject .list ul>li:nth-child(1){border-top: 1px solid #EFF0F2;margin-top: 5px;}
.app .subject .list ul>li .imgdemo img{border:0px solid;border-radius: 50%;width: 55px; height: 55px; }
.app .subject .list ul>li .substance>div{display: flex;}
.app .subject .list ul>li .substance>div small{    position: relative;left: 70%;}


/*通用样式*/
body{display: flex;}

/*进入页*/
.go{width: 350px; height: 582px; margin-top: 50px;margin-left: 250px;background:url(../images/gointo.jpg) no-repeat;background-size: 100% 100%;border: 1px solid #DBDBDB;}

@media(max-width: 980px){
    .go{margin: 50px 0;}
}
@media(max-width: 700px){
    body{display: flex;flex-wrap: wrap;}
    .app{margin: 50px 0;}
}






